@use '../assets' as a;

//Formulär för att logga in
.login {
    padding-bottom: 3em;
    h1 {
        text-align: center;
        font-family: a.$rubriker;
        margin-top: 2em;
    }

    label {
        display: block;
    }

    input {
        width: 100%;
    }
}
