@use '../assets' as a;

//Maxbredd
.container {
    width: 70%;
    margin: auto;
}

//Knappar med kategorier för sortering
.categories ul {
    margin: 2em 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1em;
    justify-content: space-between;

    //styla knapparna
    button {
        padding: 0.8em 1.4em;
        font-size: 1em;
        font-family: a.$rubriker;
        border: none;
        background-color: a.$blue;
        color: white;
        cursor: pointer;
        @include a.transition;
        border-radius: 5px;

        &:hover {
            background-color: a.$yellow;
            color: black;
        }
    }
    //Nuvarande kategori markerad
    button.current {
        background-color: a.$yellow;
        color: black;
    }
}

//Bilden
img.menupic {
    border-radius: 50%;
    width: 40%;
    display: block;
    margin: 4em auto;
}

//Allt menyinnehåll
.menu {
    h1 {
        font-family: a.$meny;
        text-align: center;
        font-size: 2.5em;
    }
    h2 {
        font-family: a.$meny;
        background-color: a.$yellow;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    //Listan som är kategorin
    ul {
        margin: 0.5em 1.2em 1.2em 1.2em;
        //Li får display flex
        li .flex-items {
            display: flex;
            justify-content: space-between;
            border-bottom: 1.5px dotted a.$blue;
            margin-top: 1.5em;
        }
        //Beskrivningen finstilas
        li .description {
            font-style: italic;
        }
    }
}

//Utvald kategori
.specific-category {
    width: 100%;

    h2 {
        padding-left: 1em;
    }
}

//Grid för de olika kategorierna
.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    margin: 2em 0;

    .grid-item h2 {
        text-align: center;
    }
}

//Loader färg och placering
#menu-loader {
    border-color: a.$blue #0000;
    margin: 4em 0;
}
