* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2300px;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
    line-height: 1.5;
}

.wrapper {
    overflow-x: hidden;
}

li {
    list-style: none;
    a {
        text-decoration: none;
    }
}
